.hero {
  background-color: var(--base-black);
  // background-image: url("../img/hero-bg-mobile.jpg");
  // background-repeat: no-repeat;
  // background-position: 0 0;
  // min-height: 390px;

  // @media (min-resolution: 2dppx) {
  //   background-image: url("../img/hero-bg-mobile@2x.jpg");
  // }
}

.hero__container {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 70px;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 768px) {
    padding-top: 134px;
    padding-bottom: 80px;
  }

  @media (min-width: 1440px) {
    padding-top: 256px;
    padding-bottom: 240px;
  }
}

.hero__col {
  &--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  // &--right {}
}

// .hero__logo {}

.hero__slogan {
  margin-bottom: 20px;
  color: var(--base-white);
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.15px;
}

.hero__text {
  margin: 0;
  color: var(--base-white);
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: -0.09px;
}
