.page-footer__conainer {
  padding-top: 119px;
  padding-bottom: 51px;

  @media (min-width: 768px) {
    padding-top: 155px;
    padding-bottom: 53px;
    padding-left: 35px;
    padding-right: 35px;
  }

  @media (min-width: 1440px) {
    padding-top: 248px;
    padding-bottom: 96px;
    padding-left: 242px;
    padding-right: 242px;
  }
}
